h1,body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(12, 6, 17);
    background: rgb(186, 121, 1);
}
h2{
    color: whitesmoke;
    font-weight: 100;
    font-family: century;
    
}